<h1>Pozaż Kategorię</h1>

<%= link_to("Powrót", {:action => 'index'}) %>


<table>
	<tr>	
		<th>Nazwa</th>
		<th><%= @kategoria.nazwa %></th>
	</tr>
	<tr>	
		<th>Pozycja</th>
		<th><%= @kategoria.pozycja %></th>
	</tr>
	<tr>	
		<th>Czy widoczna?</th>
		<th><%= @kategoria.widoczna ? 'Tak' : 'Nie' %></th>
	</tr>
	<tr>	
		<th>Utworzona</th>
		<th><%= @kategoria.created_at %></th>
	</tr>
	<tr>	
		<th>Aktualizacja</th>
		<th><%= @kategoria.updated_at %></th>
	</tr>
</table>

